*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body{
    background-color: cornsilk;
}

#contenedor{
    width: 70%;
    display: block;
    margin: auto;
    padding: 40px;

}

.titulo{
    color: blueviolet;
    font-size: 80px;
    text-align: center;
}

.texto{
    text-align: justify;
    color: indigo;
    font-size: 45;
    padding: 40px;
}

.btn{
    padding: 15px;
    margin: 5px;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    border-radius: 4px;
}

.btn:hover{
    background-color: #c4c4c4;
    color: blueviolet;
    transition: 0.4s;
}

.img{
    width: 70%;
    display: block;
    margin: auto;
}

.imgVarias{    
    display: block;
    margin:auto;
    width: 70%;   
    
}

.table{
    margin: 0 auto;
}

